* {
    box-sizing: border-box;
}

hmtl,
body {
    margin: 0;
    padding: 0;
}

.canvas div {
    float: left;
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: left;
    color: white;
    text-align: center;
}
