* {
    box-sizing: border-box;
}

hmtl,
body {
    margin: 0;
    padding: 0;
}

.canvas {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}

.canvas div {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #020755;
    text-align: center;
    background-color: hsl(48, 89%, 50%);
    width: 80px;
    height: 80px;
}
