<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pick a Number</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation-flex.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    </head>
    <body>
        {{ render(controller('AppBundle:Default:modal')) }}

        {% block body %}{% endblock %}

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.js"></script>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
    </body>
</html>
